.body{
  height: 46rem;
}
.popup {
  margin-top: 100px;
  width: 100%;
  height: 81%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
form{
  margin-top: 60px;
  text-align: left;
  margin-left: 50px;
}

.popup button {
  width: max-content;
  padding: 10px 20px;
  margin-top: 20px;
  margin-left:120px;
  margin-bottom: 20px;
  color: white;
  border: 0;
  background-color: rgba(236, 27, 27, 0.912);
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:disabled {
  background-color: rgba(77, 76, 76, 0.529);
}

.popup button:hover {
  color: plum;
}

.popup.open {
  display: flex;
}
h1{
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  padding-top: 20px;

}

.popup-content {
  /* background-color: rgba(47, 46, 46, 0.112); */
  width: 450px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: rgb(43, 41, 41);
  color: #fff274;
  /* padding: 20px; */
  border-radius: 5px;

  /* background-color: white;
  padding: 20px;
  border-radius: 5px; */
}

.popup i {
  position: relative;
  cursor: pointer;
  font-size: 25px;
  color: red;
  margin-left: 410px;
  margin-top: -90px;
  bottom: 12.5px;
}

.popup i:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.586);
}




.text-danger {
  padding-top: 3px;
  color: rgb(255, 0, 0);
  font-weight: 600;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 4px;

}
.email{
  margin-top: 20px;
  width: 80%;
  padding: 10px 15px;
  border: none;
}
.forgotpassform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

}
.pass{
  margin-top: 20px;
  width: 80%;
  padding: 10px 15px;
  border: none;
}
.forgotpassform label{
  margin-top: 20px;
}

