<body class="body">


  <div class="popup" *ngIf="isPopupOpen">
    <div class="popup-content">
      <h1>FORGOT PASSWORD</h1>
      <i (click)="closePopup()" class="fa fa-close"></i>

      <!-----------------Email check form--------------------->


      <form *ngIf="!emailExists" (ngSubmit)="checkEmail()">
        <div>
          <label for="email">Enter your email address</label><br>
          <input type="email" name="email" placeholder="Enter your email address" class="email">
        </div>
        <div *ngIf="emailNotFound" class="text-danger">Invalid email or email not found</div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>


      <!-----------------Set new password form--------------------->


      <form *ngIf="emailExists" [formGroup]="resetpass" (ngSubmit)="resetPassword()" class="forgotpassform">
        <div>
          <label for="newPassword">New Password</label><br>
          <input type="password" id="newPassword" formControlName="newPass" placeholder="Enter your New Password"
            class="pass">
        </div>

        <div class="text-danger" *ngIf="resetpass.controls['newPass'].invalid&&resetpass.controls['newPass'].touched">
          <div *ngIf="resetpass.controls['newPass'].errors?.['required']">Please Enter Password</div>
          <div *ngIf="resetpass.controls['newPass'].errors?.['pattern']">Password is weak</div>
        </div>

        <div>
          <br><label for="confirmPassword" class="cpass">Confirm Password</label><br>
          <input type="password" formControlName="confirmpass" placeholder="Enter your Confirm Password" class="pass">
          <div *ngIf="passwordsDoNotMatch()" class="text-danger" style="margin-bottom: -5px;">Passwords do not match
          </div>
        </div>
        <div>
          <button type="submit" [disabled]="!resetpass.valid" class="upass" style="margin-left: 80px;">Update
            Password</button>
        </div>
      </form>
    </div>
  </div>
</body>
