<div class="gallery">
  <table>
    <tr>

      <!---------------------------------------Pre wedding gallery---------------------------------------------->

      <td>
        <h3>Pre Wedding Photography</h3>
        <div class="slider">
          <div class="images">
            <input type="radio" name="slide" id="prewedding1" checked>
            <input type="radio" name="slide" id="prewedding2">
            <input type="radio" name="slide" id="prewedding3">
            <input type="radio" name="slide" id="prewedding4">
            <img src="/assets/img/preweddingwork1.jpg" class="m1" alt="prewedding1">
            <img src="/assets/img/preweddingwork2.jpg" class="m2" alt="prewedding2">
            <img src="/assets/img/preweddingwork3.jpg" class="m3" alt="prewedding3">
            <img src="/assets/img/preweddingwork4.jpg" class="m4" alt="prewedding4">

          </div>
          <div class="dots">
            <label for="prewedding1"></label>
            <label for="prewedding2"></label>
            <label for="prewedding3"></label>
            <label for="prewedding4"></label>
          </div>

        </div>
      </td>

      <!---------------------------------------Wedding gallery---------------------------------------------->

      <td>
        <h3>Wedding Photography</h3>
        <div class="slider">
          <div class="images">
            <input type="radio" name="slide" id="wedding1" checked>
            <input type="radio" name="slide" id="wedding2">
            <input type="radio" name="slide" id="wedding3">
            <input type="radio" name="slide" id="wedding4">
            <img src="/assets/img/weddingwork1.jpg" class="wed1" alt="wedding1">
            <img src="/assets/img/weddingwork2.jpg" class="wed2" alt="wedding2">
            <img src="/assets/img/weddingwork3.jpg" class="wed3" alt="wedding3">
            <img src="/assets/img/weddingwork4.jpg" class="wed4" alt="wedding4">

          </div>
          <div class="dots">
            <label for="wedding1"></label>
            <label for="wedding2"></label>
            <label for="wedding3"></label>
            <label for="wedding4"></label>
          </div>

        </div>
      </td>
    </tr>
    <tr>

      <!---------------------------------------Portrait gallery---------------------------------------------->

      <td>
        <h3>Portrait Photography</h3>
        <div class="slider">
          <div class="images">
            <input type="radio" name="slide" id="portrait1" checked>
            <input type="radio" name="slide" id="portrait2">
            <input type="radio" name="slide" id="portrait3">
            <input type="radio" name="slide" id="portrait4">
            <img src="/assets/img/portraitwork1.jpg" class="port1" alt="portrait1">
            <img src="/assets/img/portraitwork2.jpg" class="port2" alt="portrait2">
            <img src="/assets/img/portraitwork3.jpg" class="port3" alt="portrait3">
            <img src="/assets/img/portraitwork4.jpg" class="port4" alt="portrait4">

          </div>
          <div class="dots">
            <label for="portrait1"></label>
            <label for="portrait2"></label>
            <label for="portrait3"></label>
            <label for="portrait4"></label>
          </div>

        </div>
      </td>

      <!---------------------------------------Events gallery---------------------------------------------->

      <td>
        <h3>Events Photography</h3>
        <div class="slider">
          <div class="images">
            <input type="radio" name="slide" id="event1" checked>
            <input type="radio" name="slide" id="event2">
            <input type="radio" name="slide" id="event3">
            <input type="radio" name="slide" id="event4">
            <img src="/assets/img/eventwork1.jpg" class="e1" alt="events1">
            <img src="/assets/img/eventwork2.jpg" class="e2" alt="events2">
            <img src="/assets/img/eventwork3.jpg" class="e3" alt="events3">
            <img src="/assets/img/eventwork4.jpg" class="e4" alt="events4">

          </div>
          <div class="dots">
            <label for="event1"></label>
            <label for="event2"></label>
            <label for="event3"></label>
            <label for="event4"></label>
          </div>

        </div>
      </td>
    </tr>
    <tr>

      <!---------------------------------------Products gallery---------------------------------------------->

      <td>
        <h3>Products Photography</h3>
        <div class="slider">
          <div class="images">
            <input type="radio" name="slide" id="product1" checked>
            <input type="radio" name="slide" id="product2">
            <input type="radio" name="slide" id="product3">
            <input type="radio" name="slide" id="product4">
            <img src="/assets/img/productwork1.jpg" class="product1" alt="product1">
            <img src="/assets/img/productwork2.jpg" class="product2" alt="product2">
            <img src="/assets/img/productwork3.jpg" class="product3" alt="product3">
            <img src="/assets/img/productwork4.jpg" class="product4" alt="product4">

          </div>
          <div class="dots">
            <label for="product1"></label>
            <label for="product2"></label>
            <label for="product3"></label>
            <label for="product4"></label>
          </div>

        </div>
      </td>

      <!---------------------------------------Travel gallery---------------------------------------------->

      <td>
        <h3>Travel Photography</h3>
        <div class="slider">
          <div class="images">
            <input type="radio" name="slide" id="travel1" checked>
            <input type="radio" name="slide" id="travel2">
            <input type="radio" name="slide" id="travel3">
            <input type="radio" name="slide" id="travel4">
            <img src="/assets/img/travelwork1.jpg" class="travel1" alt="travel1">
            <img src="/assets/img/travelwork2.jpg" class="travel2" alt="travel2">
            <img src="/assets/img/travelwork3.jpg" class="travel3" alt="travel3">
            <img src="/assets/img/travelwork4.jpg" class="travel4" alt="travel4">

          </div>
          <div class="dots">
            <label for="travel1"></label>
            <label for="travel2"></label>
            <label for="travel3"></label>
            <label for="travel4"></label>
          </div>

        </div>
      </td>
    </tr>
  </table>
</div>
