/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  top: 0;
  background: fixed;
  background-size: cover;
  padding-top:10px;


}
.nav{
  top: 0;
}
h1{
  top: 0;
}

