<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

  <!------------------------Founder of the system-------------------------->

  <section class="founder-section">
    <div class="profile-card">
      <img src="/assets/img/Gowtham.jpg" alt="Founder" class="profile-image">
      <div class="My-description">
        <h2 class="profile-name">Gowtham <small class="profile-description">Founder of this System</small></h2>

        <!----------------------------------Founder about--------------------------->

        <p class="my-profile-description">I'm Gowtham, a passionate and experienced photographer with a deep love for
          capturing meaningful moments. With over 5 years in the industry, I have had the privilege of working with a
          diverse range of clients and subjects.
          I believe that photography is more than just clicking a button, it's about creating a connection with my
          subjects, understanding their unique stories, and translating their emotions into timeless images.
          Whether it's a wedding, family gathering, or professional meets, I strive to capture the essence of every
          moment, delivering photographs that become cherished memories.</p>

        <!----------------------------------Founder contacts--------------------------->

        <div class="social-media">
          <a href="https://www.facebook.com/profile.php?id=100025834712092"><i class="fa fa-facebook"
              style="color: black;"></i></a>
          <a href="https://www.instagram.com/gowtham_27_r"><i class="fa fa-instagram" style="color: black;"></i></a>
          <a href="https://twitter.com/Itachi_27_r"><i class="fa fa-twitter" style="color: black;"></i></a>

        </div>

      </div>
    </div>
  </section>

  <!------------------------Team members-------------------------->

  <section class="employees-section">
    <div class="our-team">
      <h1>Our<br>Team</h1>
      <p> With years of experience and a passion for capturing special moments, our team of skilled photographers is
        here to provide you with exceptional service. We have honed our craft through countless photoshoots, allowing us
        to understand the nuances of lighting, composition, and the art of storytelling through images. Our expertise
        extends beyond technical proficiency, we pride ourselves on creating a comfortable and enjoyable experience for
        our clients. let us transform your precious moments into timeless memories.</p>
    </div>

    <!------------------------Team members profiles-------------------------->

    <div class="staff">

      <!------------------------Team member 1-------------------------->

      <div class="staff-profile-card">
        <img src="/assets/img/Mega.jpg" alt="Employee 1" class="profile-image">
        <h2 class="staff-profile-name">Vicky</h2>
        <p class="staff-profile-description">Photographer / Concept Developer</p>
      </div>

      <!------------------------Team member 2-------------------------->

      <div class="staff-profile-card">
        <img src="/assets/img/God.jpg" alt="Employee 2" class="profile-image">
        <h2 class="staff-profile-name">Deebakraaj</h2>
        <p class="staff-profile-description">Photographer / UI/UX Designer</p>
      </div>

      <!------------------------Team member 3-------------------------->

      <div class="staff-profile-card">
        <img src="/assets/img/Gowsick.jpg" alt="Employee 1" class="profile-image">
        <h2 class="staff-profile-name">Gowsick</h2>
        <p class="staff-profile-description">Photographer / Frame Designer</p>
      </div>

      <!------------------------Team member 4-------------------------->

      <div class="staff-profile-card">
        <img src="/assets/img/Jaya.jpg" alt="Employee 2" class="profile-image">
        <h2 class="staff-profile-name">Pooja</h2>
        <p class="staff-profile-description">Photographer /Personal stylist</p>
      </div>
    </div>
  </section>

  <!------------------------Editing apps section-------------------------->

  <section class="experience-section">
    <h2 class="experience-title">Experience with Editing Apps</h2>

    <div class="skill-container">

      <!------------------------Skill 1 - photoshop-------------------------->

      <div class="skill">
        <div class="skill-name">Photoshop</div>
        <div class="bgBar">
          <div class="skill-bar" style="width: 90%;">
            <div class="sill-percentage">90%</div>
          </div>
        </div>
      </div>

      <!------------------------Skill 2 - Illustrator-------------------------->

      <div class="skill">
        <div class="skill-name">Illustrator</div>
        <div class="bgBar">
          <div class="skill-bar" style="width: 80%;">
            <div class="sill-percentage">80%</div>
          </div>
        </div>
      </div>

      <!------------------------Skill 3 - Lightroom-------------------------->

      <div class="skill">
        <div class="skill-name">Lightroom</div>
        <div class="bgBar">
          <div class="skill-bar" style="width: 90%;">
            <div class="sill-percentage">90%</div>
          </div>
        </div>
      </div>

      <!------------------------Skill 4 - Canva-------------------------->

      <div class="skill">
        <div class="skill-name">Canva</div>
        <div class="bgBar">
          <div class="skill-bar" style="width: 80%;">
            <div class="sill-percentage">80%</div>
          </div>
        </div>
      </div>

      <!------------------------Skill 5 - Final cut pro-------------------------->

      <div class="skill">
        <div class="skill-name">Final Cut Pro</div>
        <div class="bgBar">
          <div class="skill-bar" style="width: 85%;">
            <div class="sill-percentage">85%</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!------------------------What we do section-------------------------->

  <section class="what-we-do">
    <div class="what-we-do-title">
      <h3>What we do on photoshoot</h3>
    </div>
    <div class="what-we-do-content">

      <!------------------------Pre photoshoot-------------------------->

      <div>
        <img src="/assets/img/cam1.png" width="80px" height="80px">
        <p class="what-we-do-content-title">Pre photoshoot</p>
        <ul>
          <li>Client consultation</li>
          <li>Concept Development</li>
          <li>Location Scouting</li>
          <li>Equipment and Gear Preparation</li>
        </ul>
      </div>

      <!------------------------Photoshoot-------------------------->

      <div>
        <img src="/assets/img/cam2.png" width="80px" height="80px">
        <p class="what-we-do-content-title">Photoshoot</p>
        <ul>
          <li>Setup and Preparation</li>
          <li>Communication and Direction</li>
          <li>Lighting and Composition</li>
          <li>Attention to Detail</li>
        </ul>
      </div>

      <!------------------------Post photoshoot-------------------------->

      <div>
        <img src="/assets/img/cam3.png" width="80px" height="80px">
        <p class="what-we-do-content-title">Post photoshoot</p>
        <ul>
          <li>Backup and Organization</li>
          <li>Photo Selection</li>
          <li>Editing and Retouching</li>
          <li>Presentation</li>
        </ul>
      </div>

      <!------------------------Client review and Feedback-------------------------->

      <div>
        <img src="/assets/img/cam4.png" width="80px" height="80px">
        <p class="what-we-do-content-title">Client review and Feedback</p>
        <ul type="arrow">
          <li>Share the edited photos</li>
          <li>Gather their feedback and review</li>
          <li>Make adjustments based on their input</li>
          <li>Delivery</li>
        </ul>
      </div>
    </div>

  </section>
  
</body>
